<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.finappl"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/FinappleTheme"
        tools:ignore="NewApi">
        <activity
            android:name=".activities.CalendarActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Login-->
        <activity
            android:name=".activities.LoginActivity"
            android:label="Login"/>

        <!--Notifications-->
        <activity
            android:name=".activities.NotificationScheduledTransactionActivity"
            android:label="Notification Scheduled Transaction"/>
        <activity
            android:name=".activities.NotificationsHandlerActivity"
            android:label="Notification Handler"/>

        <!--Services-->
        <service android:name=".services.NotificationsService" />

        <!--Receivers-->
        <receiver android:name=".receivers.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.TimeSetReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.DateChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.ActivityActionCompleteReceiver" >
            <intent-filter>
                <action android:name="ACTIVITY_ACTION" >
                </action>
            </intent-filter>
        </receiver>

        <!--Error page-->
        <activity
            android:name=".activities.JimBrokeItActivity"
            android:label="Error Page"/>
    </application>
</manifest>
